.display-singer img{
    width: 250px;
    height: 320px;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    display:block;
    margin: auto;
    /* margin: -webkite-fill-available; */
}

.button{
    background-color: rgb(126, 72, 126);
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.singer-all{
    border: 1px solid rgb(59, 40, 109);
    box-shadow: gray;
    margin-top: 20px;
    border-radius: 10px;
    background-color: beige;
    margin-left: 10px;
    padding: 10px;
}
.details{
    color: black;
    text-align: center;
}